/*
  red: #ff5349
  blue: #4f80e1
  green: #18cdca
  grey: #f0f0f1
  purple: #292c44
  black: #302d33
*/

:root {
  --red: #ff5349;
  --blue: #4f80e1;
  --green: #18cdca;
  --grey: #f0f0f1;
  --purple: #292c44;
  --black: #302d33;
}

.blue {background-color: var(--blue)}

.ligth-text {color: var(--grey)}
