body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Open Sans', Roboto, Helvetica;
  background-color: var(--purple);
  color: var(--grey);
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}
