/* You can add global styles to this file, and also import other style files */
@import "./styles/colors.css";
@import "./styles/defaults.css";

.small-font {font-size: 0.8rem;}
.large-padding {padding: 10px 15px}
.full-width {width: 100%}
.float-right {float: right}
.top-space {margin-top: 1em}

.form-control {
  width: 100%;
  outline: 0;
  border: 0;
  display: block;
  padding: 10px 15px;
  margin-top: 1em;
  font-size: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.btn {
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 1em 1.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

.main-nav {
  background-color: var(--blue);
  padding: 10px 15px;
  color: var(--grey);
}

.main-nav a {text-decoration: none}
.nav-title {font-weight: bold}
.main-nav .float-right a {margin-left: 1em}

.card {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  position: relative;
  background-color: var(--white);
  color: var(--black)
}

.card.with-badge {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: "title title title title title title title title badge badge";
  align-items: center
}

.card.with-badge h4 {grid-area: title}
.card.with-badge .badge {
  grid-area: badge;
  display: flex;
  justify-content: flex-end
}
.card.with-badge .badge span {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  color: var(--grey)
}
