<nav class="main-nav relative">
  <a routerLink="/">
    <span class="nav-title">What to do</span>
  </a>

  <div class="notification-window card small-padding" *ngIf="showPanel">
    <div *ngIf="!!(token | async); else activate">
      <p>Te gustaria desactivar las notificaciones?</p>
      <button class="border-radius blue small-padding ligth-text" (click)="cancelPermission()">Desactivar</button>
    </div>
    <ng-template #activate>
      <p>Te gustaria activar las notifiaciones?</p>
      <button class="border-radius blue small-padding ligth-text" (click)="requestPushPermissions()">Activar</button>
    </ng-template>
  </div>

  <div class="float-right" *ngIf="afAuth.authState | async">
    <a (click)="toggleNotificationWindow()">
      <i class="fa " [ngClass]="{'fa-bell': !!(token | async), 'fa-bell-o': !(token|async)}" ></i>
    </a>
    <a routerLink="/">
      <i class="fa fa-list"></i>
      <span class="small-font">Mis listas</span>
    </a>

    <a routerLink="#" (click)="logout()">
      <i class="fa fa-sign-out"></i>
      <span class="small-font">Salir</span>
    </a>
  </div>

</nav>

<router-outlet></router-outlet>
